body{
margin: 0px;
border: 0px;
padding: 0px;
background-color: white;

}


[class*="row"]{
    /* padding: 1rem; */
    /* background-color: #ececec; */
    border: 0px solid wheat;
    color: black;
    text-align: center;
    
    }
    
    [class*="col"] {
        /* padding: 1rem; */
        /* background-color: #ececec; */
        border: 0px solid wheat;
        color: black;
        text-align: center;
    
    }


img{
    max-width: 100%;
    height: auto;
    border-radius: 5%;

}

#linkin{
    max-width: 5%;
    max-height: 5%;

}

#gmail{
    max-width: 20%;
    max-height: 20%;

}
#github{
    max-width: 20%;
    max-height: 20%;

}



.contactmeIcon{
    margin: 20px;

}
.sidelbl{

    font-size: large;
    font-family: "ProximaNovaRegular", Helvetica, Arial, sans-serif;
    
    
}


a:hover{

    color: blue;
}

#aboutMePtag{
    margin: 1in;
    font-size: large;

}

.nav-link{
    color: white;
    font-size: larger;

}


.gradient-custom-2 {
    /* fallback for old browsers */
    background: #1d1b3d;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #0352fc, #2e4169, #37609e, #36a8dd );
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #0352fc, #2e4169, #37609e, #36a8dd);
  }
  .gradient-custom-1 {
    /* fallback for old browsers */
    background: #1d1b3d;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #1d1b3d);
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #1d1b3d);
  }