body{
margin: 0px;
border: 0px;
padding: 0px;
background-color: white;

}


[class*="row"]{
    /* padding: 1rem; */
    /* background-color: #ececec; */
    border: 0px solid wheat;
    color: black;
    text-align: center;
    
    }
    
    [class*="col"] {
        /* padding: 1rem; */
        /* background-color: #ececec; */
        border: 0px solid wheat;
        color: black;
        text-align: center;
    
    }


img{
    max-width: 100%;
    height: auto;
    border-radius: 5%;

}

#linkin{
    max-width: 5%;
    max-height: 5%;

}

.contactmeIcon{
    margin: 20px;

}
.sidelbl{

    font-size: large;
    font-family: "ProximaNovaRegular", Helvetica, Arial, sans-serif;
    
    
}


a:hover{

    color: blue;
}

#aboutMePtag{
    margin: 1in;
    font-size: large;

}

.nav-link{
    color: white;
    font-size: larger;

}