
header{
    /* display:flex; */
    background-color: #84a0bb;
    margin: 15px;
   border-radius: 8px;
    width: 100%;
    font-family: "ProximaNovaRegular", Helvetica, Arial, sans-serif;
    height: 100px;
    font-size: 180%;
    


}
a{

        padding: 0 15px;
        text-decoration: inherit;
        color: inherit;
}
#leftheader{
    float: left;
    padding: auto;
    text-indent: 15px;

}

#rightheader{
    float: right;
    text-decoration: wavy;
    padding-right: 50px;
    margin: 3px;
       
}

nav{
   display:flex; 
   display:inline;
   flex-direction: column;
   font-family: "ProximaNovaRegular", Helvetica, Arial, sans-serif;
}

nav > div{
    display:inline-flex;

}


body{
   
    display:flex;
    flex-direction: column;
   /* background-color:  rgba(255, 255, 255, 0.8);; */
    
}

.mainbody{
    display: inline-flex;

}


aside{

    background-color: #d6c52c;
    width: 20%;
    height: auto;
    /* display:flex */

}

.mainbody{

    background-color: #a3cc45;
    width: 100%;
    height: auto;
    
    
}

.sidebar{
    
}

#sidebar{
    align-content: center;
}

#innerSidebar{

    align-content: center;
}

#projects{
    display:grid;
    /* grid-template-columns:repeat(5,1fr); */
    /* grid-template-columns: 3in 100px 100px 100px; */
    grid-template-columns: 1fr 2fr 2fr;
    grid-gap: 15x;
    padding: 15px;
    /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr) ) ; */
    /* grid-template-columns: repeat(3,1fr); */
    /* grid-template-rows: repeat(2,1fr); */
    gap:10px;
    width: 100%;
    text-align: center;
    
}

#projects > section{
  /* background-color: rgba(255, 255, 255, 0.8); */
  /* text-align: justify; */
  /* padding: 20px 0; */
  font-size: 30px;
  width: 400px;
  text-align: right;
    

}

#asiderow1aboutme{
    background-color: #84a0bb;
    border-radius: 8px;
    grid-column: 1;
    grid-row: 1;
    width:6em;
   border-right: 1px solid black;




}
#asiderow1aboutmeContent{
width: 10in;
display: flex;
flex-wrap: wrap;


}
#aboutMesection{
    max-width: 560px;
    border-width: 4px;
    border-color: #84a0bb;
    
}

#AboutmeContentP{
    text-indent: 30px;
    line-height: 150%;
    font-size:18px;
    float: right;
    max-width: 1fr;
    text-align:initial;
    margin: auto;
    border-color: #84a0bb;
}

#aboutmeLeftContent{
    grid-column: 2 / 3;
    grid-row: 1;

}

#aboutmeRightContent{
    grid-column: 2 / 4;
    grid-row: 1;

}

#me{
    max-width: 560px;
    justify-content: center;
    border-width: 4px;
    border-color: #84a0bb;
    grid-column: 3 / 4;
    
    

    
    
}

#asiderow2{
    background-color: #84a0bb;
    border-radius: 5px;
    justify-content: center;
    /* display: flex; */
    flex-direction: row;
    grid-column: 1;
    grid-row: 2 / 4;
    width:6em;
    border-right: 1px solid black;
}


section #asiderow3ContactMe .contactLinks{
    margin: auto;

}
.ContactMeContent{
    margin: 10px;
    display: inline;
    justify-content:flex-end;

}


#asiderow3ContactMe{
    /* display: flex; */
    /* flex-direction: row; */
    grid-column: 2 /3;
    grid-row: 4 / 4;
    width:400px;
    
}

#asiderow3{
    /* display: flex; */
    background-color: #84a0bb;
    border-radius: 5px;
    flex-direction: row;
    grid-column: 1;
    grid-row: 4;
    border-right: 1px solid black;
    width:6em;
    
}


#mainPrjPictureRow1{
    /* display: flex;
    flex-direction: row; */
    grid-column: 2;
    grid-row: 2;
    width:10em;
    
    
}

#Picrow2{
    display: flex;
    flex-direction: row;
    grid-column: 2;
    grid-row: 3;
    width:15em;
}


#Picrow3{
    display: flex;
    flex-direction: row;
    grid-column: 6;
    grid-row: 3;
    width:15em;
}

#bigPic{
    display: flex;
    flex-direction: row;
    max-width: 1400px;
    height: 100%;
    object-fit: cover;
   

}

#bigPicLBL{
    border: 3px;
    border-color: #84a0bb;
    width: 4fr;
    position: absolute;
    z-index: 1;
    

}

#smallPic{
    display: flex;
    flex-direction: row;
    max-width: 690px;
    height: 80%;
    object-fit: cover;
    
    

}

#aboutme, #work, #contactme{
 
    font-family: "ProximaNovaRegular", Helvetica, Arial, sans-serif;
    padding-right: 3px;
    text-align: center;
}

#linkin{
    height: 30px;
}

.contactLinks{
    justify-content: center;

}